fail_fast: false
default_stages: [ pre-commit ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [ --allow-multiple-documents ]
      - id: check-added-large-files
        args: [ '--maxkb=5000' ]
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix --config .golangci.yml
        types: [go]
        language: system
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.4
    hooks:
      - id: go-mod-tidy
  - repo: local
    hooks:
      - id: gitleaks
        name: gitleaks
        entry: gitleaks git --staged --redact --verbose
        language: system
        pass_filenames: false
